<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="conString" connectionString="Data Source=localhost;Initial Catalog=client_db;Persist Security Info=True;User ID=sa;Password=admin123"
            providerName="System.Data.SqlClient" />
        <add name="TicketSystem.Properties.Settings.tj_dbConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=tj_db;Persist Security Info=True;User ID=sa;Password=admin123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>